<style>
  .middle {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .hide {
    display: none;
  }
</style>

<div class="middle">
  <h4 id="headline">Overall Analysis</h4>
</div>
<div class="middle" style="height: 40%">
  <canvas id="pie"></canvas>
</div>

<div id="idk" class="hide">{{ data_package |safe }}</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->

<script>
  var rawData = document.getElementById("idk").innerText;
  var dataPackage = JSON.parse(rawData);
  var D_labels = dataPackage[0];
  var D_values = dataPackage[1];
  var ctx = document.getElementById("pie").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "pie",
    data: {
      labels: D_labels,
      datasets: [
        {
          data: D_values,
          borderWidth: 1,
        },
      ],
    },
  });
</script>
