<style>
  .dropbtn {
    background-color: #0d3149;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropbtn2D {
    background-color: #f1f1f1;
    color: #0d3149;
    min-width: 160px;
    padding: 14px;
    border: none;
    cursor: pointer;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #011522;
  }

  .dropbtn2D:hover {
    display: block;
  }
  .dropbtn2D:focus {
    background-color: #ddd;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown2D-content {
    display: none;
    position: absolute;
    left: 100%; /* place it to the right of parent element */
    top: 0;
    background-color: #f1f1f1;
    min-width: 120px;
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown2D-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown2D:hover .dropdown2D-content {
    display: block;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }
</style>
<div class="dropdown">
  <button class="dropbtn">Year</button>
  <div id="myDropdown1" class="dropdown-content">
    <button class="dropbtn2D">2023</button>
    <button class="dropbtn2D">2024</button>
    <button class="dropbtn2D">2025</button>
    <button class="dropbtn2D">2026</button>
    <button class="dropbtn2D">2027</button>
    <div id="myDropdown2" class="dropdown2D-content">
      <a>Jan</a>
      <a>Feb</a>
      <a>Mar</a>
      <a>Apr</a>
      <a>May</a>
      <a>Jun</a>
      <a>Jul</a>
      <a>Aug</a>
      <a>Sep</a>
      <a>Oct</a>
      <a>Nov</a>
      <a>Dec</a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  let selectedYear = "";
  let selectedMonth = "";

  $(document).ready(function () {
    $(".dropbtn2D").click(function (event) {
      event.stopPropagation();
      selectedYear = $(this).text();
      $("#myDropdown2").addClass("show");
    });

    $("#myDropdown2 a").click(function (event) {
      event.stopPropagation();
      selectedMonth = $(this).text();

      if (selectedYear !== "" && selectedMonth !== "") {
        let data = {
          year: selectedYear,
          month: selectedMonth,
        };

        $.ajax({
          url: "/submit",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(data),
          success: function (response) {
            //alert(response.message);
            console.log(response.message);
            document.getElementById("myDropdown1").classList.remove("show");
            document.getElementById("myDropdown2").classList.remove("show");
            location.reload();
          },
          error: function (error) {
            console.log(error);
          },
        });
      } else {
        alert("Please select both year and month.");
      }
    });

    $(".dropbtn").click(function (event) {
      event.stopPropagation();
      $("#myDropdown1").addClass("show");
    });
    document.getElementById("myDropdown1").classList.remove("show");
    document.getElementById("myDropdown2").classList.remove("show");
  });
</script>

<script>
  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches(".dropbtn2D")) {
      var dropdowns = document.getElementsByClassName("dropdown2D-content");
      var OGdropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      var j;
      for (i = 0; i < OGdropdowns.length; i++) {
        for (j = 0; j < dropdowns.length; j++) {
          var OGopenDropdown = OGdropdowns[i];
          var openDropdown = dropdowns[j];
          if (openDropdown.classList.contains("show")) {
            openDropdown.classList.remove("show");
          }
          if (OGopenDropdown.classList.contains("show")) {
            OGopenDropdown.classList.remove("show");
          }
        }
      }
    }
  };
</script>

<style>
  .middle {
    display: flex;
    justify-content: center;
  }
</style>

<div class="middle">
  <h1>Analysis</h1>
</div>

<div class="middle">
  <iframe
    id="embedPageFrame"
    width="90%"
    height="600px;"
    src="/months"
  ></iframe>
</div>
