<style>
  .middle {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .hide {
    display: none;
  }
</style>

<div class="middle">
  <h4 id="headline">Overall Analysis</h4>
</div>
<div id="default" class="middle"></div>
<div id="idk" class="hide">{{ data_package |safe }}</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
  var rawData = document.getElementById("idk").innerText;
  var dataPackage = JSON.parse(rawData);
  var D_labels = dataPackage[0];
  var D_values = dataPackage[1];
  var data = [
    {
      values: D_values,
      labels: D_labels,
      type: "pie",
    },
  ];

  var layout = {
    height: 400,
    width: 500,
  };

  Plotly.newPlot("default", data, layout);
</script>
